---
import "../styles/base.css";
import { format } from "date-fns";
import type { MarkdownLayoutProps } from "astro";

interface LayoutProps {
  title?: string;
  timestamp?: number;
  author?: "Viktor";
}

interface Props extends MarkdownLayoutProps<LayoutProps> {
  title: string;
  timestamp: number;
  author: "Viktor";
}

const { frontmatter, ...props } = Astro.props as Props;
const title = frontmatter.title ?? props.title;
const timestamp = frontmatter.timestamp ?? props.timestamp;
const author = frontmatter.author ?? props.author;

const date = format(timestamp, "MMMM do, uuuu");
const padding = "p-4";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{author} | {title}</title>
  </head>
  <body class="blog">
    <div class="wrapper m-auto">
      <header class={`${padding}`}>
        <h1 class="text-4xl text-white font-extralight">{title}</h1>
        <p class="font-extralight text-sm">{date}</p>
      </header>
      <main class={`${padding} text-lg`}>
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  .blog main p {
    padding-bottom: 2rem;
  }
  .blog main h3::before,
  .blog main h4::before {
    content: "#";
    display: inline-block;
    margin-right: 0.5rem;
  }
  .blog main h3,
  .blog main h4 {
    padding-bottom: 2rem;
  }
  .blog main h3 {
    @apply text-2xl;
  }
  .blog main h4 {
    @apply text-xl;
  }
</style>

<style>
  .wrapper {
    max-width: 56rem;
    min-width: 40vw;
  }
</style>
